# Timeseries for the capstone project

In [1]:
# importing related module and function
import re, io
import os, json
import pandas as pd
import numpy as np
from fbprophet import Prophet
from fbprophet.diagnostics import performance_metrics
from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns
from time_series import *
from pandas._libs.tslibs import *

DATA_DIR = os.path.join("..", "data/cs-train")

plt.style.use('seaborn')
%matplotlib inline

Importing plotly failed. Interactive plots will not work.

In [4]:
df = pd.DataFrame()

data_filenames = [f for f in os.listdir(DATA_DIR) if os.path.isfile(os.path.join(DATA_DIR, f))]
data_filenames = sorted(data_filenames)

for filename in data_filenames:
    invoice_filename = os.path.join(DATA_DIR, filename)
    invoice_df = pd.read_json(invoice_filename)
    
    # Rename column names where applicable
    invoice_df = invoice_df.rename(columns={
        'total_price': 'price',
        'StreamID': 'stream_id',
        'TimesViewed': 'times_viewed'
    })
    
    df = df.append(invoice_df)


# Set country to a categorical type
df['country'] = df['country'].astype('category')
df['invoice'] = df['invoice'].astype('category')
df['customer_id'] = df['customer_id'].astype('category')
df['stream_id'] = df['stream_id'].astype('category')
# Drop - price error from database
df=df[df["price"]>0]
df = df.groupby(['year', 'month', 'day']).agg({'times_viewed':'sum', 'price':'sum',
                                        'country':'first',}).reset_index()
df= create_date_col(df)
# Remove outlier
df= df[df['price']<=20000]

df.head()

   year  month  day  times_viewed     price         country       Date
0  2017     11   28         15018  14450.54  United Kingdom 2017-11-28
1  2017     11   29         14110  13411.96  United Kingdom 2017-11-29
2  2017     11   30         15685  13290.25  United Kingdom 2017-11-30
3  2017     12    1         12505   9687.28  United Kingdom 2017-12-01
4  2017     12    2          3310   1443.26  United Kingdom 2017-12-02

(474, 7)